.Message {
  background-color: #ffedde;
  color: #f2711c;
  box-shadow: inset 0 0 0 1px #f2711c, 0 0 0 0 transparent;
  margin: 1em 0;
  padding: 1em 1.5em;
  border-radius: 0.28571429rem;
}

.Header-Post {
  color: #e7640d;
  display: block;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: -0.14285714em 0 0;
}

.Text-post {
  margin: 0;
  padding: 0;
  color: #db2828;
}
